@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Rajdhani&family=Roboto:wght@300&display=swap');


body {
    background-image: url(./img/pexels-felix-mittermeier-1146134.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    filter: brightness(80%) contrast(120%); 
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;

}

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    color: aliceblue;
}

.slider-frame {
    max-width: 800px; 
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 50px auto 0;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 17s infinite cubic-bezier(0.4, 0, 0.2, 1); 
}

.slider-frame li {
    list-style: none;
    width: 25%;
    text-align: center; 
}

.slider-frame img {
    width: 100%;
    max-height: 100%; 
    display: inline-block; 
    vertical-align: middle; 
}

@keyframes slide {
    0% { margin-left: 0%; }
    16% { margin-left: 0%; } 
    20% { margin-left: -100%; }
    36% { margin-left: -100%; } 
    40% { margin-left: -200%; }
    56% { margin-left: -200%; } 
    60% { margin-left: -300%; }
    76% { margin-left: -300%; } 
    80% { margin-left: -400%; } 
    100% { margin-left: -400%; }
}
